form.add-user {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  width: 80%;
  max-width: 100%;
  margin: 30px auto;
}

form.add-user label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
form.add-user input[type="text"],
form.add-user input[type="password"],
form.add-user input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form.add-user button[type="submit"] {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
form.add-user span.error {
  display: block;
  color: #f00;
  font-size: 14px;
  margin-bottom: 7px;
}
