section.packages {
  max-width: 100%;
  overflow: hidden;
}

section.packages header {
  background-color: var(--Alice-Blue);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.packages header h1.title-section {
  text-shadow: 0.8px 0.8px var(--gray);
}
section.packages input {
  margin: 0 10px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  outline: none;
  transition: all 0.5s;
  margin-bottom: 5px;
  max-width: 100%;
}

section.packages input:focus {
  border: 1px solid var(--gray);
}

section.packages button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}
section.packages button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  opacity: 0.8;
}
section.packages .card-image {
  height: 9em;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
