.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 0px #dddddd;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background: white;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.788);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.836);
}
@media (max-width: 767px) {
  .registration-form {
    width: 100% !important;
  }
}

.registration-form h1 {
  text-align: center;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}
.registration-form label:nth-of-type(1) {
  margin-top: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.registration-form .input-group-btn button {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-70%, -50%);
  color: var(--gray);
}

.registration-form button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 80%;
  margin: 10px 0;
}

.registration-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.registration-form span.error {
  display: block;
  color: #f00;
  font-size: 14px;
  margin-bottom: 7px;
}
